.container {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  gap: 10px;
  margin-bottom: 20px;
}

.label {
  flex: 0 0 100px;
}

.control {
  flex: 1 0 600px;

  .text {
    width: 400px;
  }

  .error {
    margin-left: 10px;
    color: red;
  }
}
